.listItem{
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 15px auto 15px auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    font-size: 20px;
    padding: 10px;
    font-family: 'Titillium Web', sans-serif;
}
.listItemImg{
    width: 350px;
    /* margin: 10px; */
    
}
.listItemImgContainer{
  width: 350px;
  margin: 0 auto;
}

.listItem:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  .Button {
    padding: 8px 16px;
    border-radius: 2px;
    background-color: #3f51b5;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-align: center;
    display: inline-block;
    color: #fff;
    border: 0;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Titillium Web', sans-serif;
    font-size: 22px;
    line-height: 24px;
    font-style: normal;
    font-weight: 500;
    width: 150px;
    height: 30px;
    margin: 5px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
      font-family: 'Titillium Web', sans-serif;
      display: block;
  }

  .Button:hover,
.Button:focus {
  background-color: #303f9f;
}
.ButtonContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0px auto 0px auto;
    padding: 10px;
}
.ButtonBack{
    border-radius: 2px;
    background-color: #3f51b5;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-align: center;
    display: inline-block;
    color: #fff;
    border: 0;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Titillium Web', sans-serif;
    font-size: 22px;
    line-height: 24px;
    font-style: normal;
    font-weight: 500;
    width: 180px;
    height: 46px;
    margin: 5px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
      font-family: 'Titillium Web', sans-serif;
      display: block;
}
.ButtonBack:hover,
.ButtonBack:focus {
  background-color: #303f9f;
}

.movieList{
  max-width: 1100px;
  margin: 0 auto 20px auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  font-family: 'Titillium Web', sans-serif;
  padding: 5px;
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
}
.movieListReview{
  max-width: 1100px;
  margin: 0 auto 20px auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  font-family: 'Titillium Web', sans-serif;
  padding: 5px;
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
}
.headerNotFound{
  text-align: center;
 margin-top: 70px;
 font-family: 'Titillium Web', sans-serif;
}
.loaderContainer{
  width: 200px;
  margin: 150px auto;
}

.active{
    padding: 8px 16px;
    border-radius: 2px;
    background-color: #6f7ab9;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-align: center;
    display: inline-block;
    color: #fff;
    border: 0;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Titillium Web', sans-serif;
    font-size: 22px;
    line-height: 24px;
    font-style: normal;
    font-weight: 500;
    width: 180px;
    height: 30px;
    /* margin: 10px auto 15px auto; */
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
      font-family: 'Titillium Web', sans-serif;
      display: block;
}
.listItemDescr{
  max-width: 700px;
  margin: 0 auto;
  padding: 10px;
}
.listItemGenres{
  /* background-color: cyan; */
  margin: 10px;
  width: 125px;
  text-align: center;
  display: inline-block;
  padding: 0px 4px 0px 4px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  cursor: default;
}